<% content_for :title, 'My Projects' %>

<p>Throughout the years I have worked on many, <em>many</em> different
projects. Though some have been for others a large majority have been
personal efforts. Below I've attempted to make a partial list of my
different projects. A complete listing of my codebases are available
on <a href="https://github.com/danopia">my Github profile</a>.</p>

<h3>Previous web sites</h3>
<ul>
  <li><a href="http://buenaboro.org/">Buena Boro</a></li>
  <li><a href="http://buenanhs.heroku.com/">Buena NHS</a></li>
  <li><a href="http://stocktonenergycorps.net/">Stockton Energy Corps</a></li>
  <li><a href="http://combatcorps.com/">Combat Corps</a></li>
  <li><a href="http://protonet.info/">Protonet</a> (well, their software)</li>
</ul>

<h3>Ruby</h3>
<ul>
  <li><a href="https://github.com/danopia/math-parser">math-parser</a>: Ruby algebra/calculus parser/evaler/solver/derivitator using Treetop and a custom AST.</li>
  <li><a href="https://github.com/danopia/luck">luck</a>: Pure-ruby CLI UI system. Includes multiple panes in a display and multiple controls in a pane.</li>
  <li><a href="https://github.com/danopia/luck">remora</a>: Ruby GrooveShark streaming client + custom CLI-based GUI.</li>
  <li><a href="https://github.com/danopia/fbi">fbi</a>: FBI Version Control Informant.</li>
  <li><a href="https://github.com/danopia/fb-powerschool">fb-powerschool</a>: Facebook Powerschool app.</li>
  <li><a href="https://github.com/danopia/rbircd">rbircd</a>: Ruby standalone IRC server.</li>
  <li><a href="https://github.com/danopia/luckirc">luckirc</a>: CLI IRC client using the Luck TUI system.</li>
  <li><a href="https://github.com/danopia/bitserv">bitserv</a>: Custom ruby IRC services for the EighthBit network.</li>
  <li><a href="https://github.com/danopia/bitui">bitui</a>: Ruby-GTK application to manage BitServ LDAP servers.</li>
  <li><a href="https://github.com/danopia/ruby-on-sails">ruby-on-sails</a>: Sailing the Waves of Google with Ruby. This project is unique in that I got a bit of response from bloggers, albeit under my fake name of Daniel Danopia.</li>
  <li><a href="https://github.com/danopia/verizon-dsl">verizon-dsl</a>: Script to poll Verizon modem/router/switch/wap/in/one devices and send notifications when things happen.</li>
  <li><a href="https://github.com/danopia/opersite">opersite</a>: Ruby on Rails web site to administrate UnrealIRCd networks that use atheme and denora.</li>
  <li><a href="https://github.com/danopia/mrtech">mrtech</a>: MrTech - Friendly Ruby IRC Bot.</li>
</ul>

<h3>ooc</h3>
<ul>
  <li><a href="https://github.com/danopia/ooc-httpd">ooc-httpd</a>: Basic ooc HTTPd with app support and an example FileServer</li>
  <li><a href="https://github.com/danopia/ooc-guide">ooc-guide</a>: Danopia's Strange Guide to ooc</li>
  <li><a href="https://github.com/danopia/ooc-cairo">ooc-cairo</a>: Libcairo bindings for ooc</li>
  <li><a href="https://github.com/danopia/rocknomancer">rocknomancer</a>: GUI for ooc's package manager, reincarnate</li>
  <li><a href="https://github.com/danopia/ooc-ircd">ooc-ircd</a>: pure ooc irc server</li>
  <li><a href="https://github.com/danopia/oocket">oocket</a>: ooc socket library (for linux)</li>
  <li><a href="https://github.com/danopia/oos">oos</a>: ooc operating system</li>
</ul>

<h3>VB.NET</h3>
<ul>
  <li><a href="https://github.com/danopia/monochat.net">monochat.net</a>: IRC client written in faily VB.NET</li>
  <li><a href="https://github.com/danopia/combatcorps">combatcorps</a>: VB.NET Notifier for Combat Corps members</li>
  <li>DanoCAD (private source): Easy-to-use 2D (for now) CAD written in VB.NET</li>
</ul>

<h3>ActionScript</h3>
<ul>
  <li><a href="https://github.com/danopia/flash-physics">flash-physics</a>: Attempt at an accurate physics engine in Adobe Flash</li>
</ul>
