<header>
  <h2>Daniel Lamando</h2>
  <h1>Activities Résumé</h1>
</header>

<table id="resume">
  <tr>
    <th>Activity</th>
    <th>When</th>
    <th>Recognitions</th>
  </tr>
  
  <tr>
    <td colspan="3"><h3>School Activities</h3></td>
  </tr>
  
  <tr>
    <td>Marching Band</td>
    <td>10th to 12th</td>
    <td>Attendance officer (12th)</td>
  </tr>
  
  <tr>
    <td>Academic Team</td>
    <td>9th to 12th</td>
    <td>Senior representative (12th)</td>
  </tr>
  
  <tr>
    <td>Math League</td>
    <td>11th to 12th</td>
    <td>President (12th)</td>
  </tr>
  
  <tr>
    <td>Honor Society</td>
    <td>10th to 12th</td>
    <td>Recording secretary (12th)</td>
  </tr>
  
  <tr>
    <td>Go Green</td>
    <td>12th</td>
    <td></td>
  </tr>
  
  <tr>
    <td>II. Community Service Activities</td>
  </tr>
  
  <tr>
    <td>Boy Scouts of America</td>
    <td>2nd to 12th</td>
    <td>Patrol leader (10th to 12th)<br />Eagle Scout</td>
  </tr>
  
  <tr>
    <td>Order of the Arrow<br />(the Honor Society of Boy Scouting)</td>
    <td></td>
    <td></td>
  </tr>
  
  <tr>
    <td>Holiday Food Drive</td>
    <td>10th to 12th</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Run4Ricky</td>
    <td>10th to 12th</td>
    <td></td>
  </tr>
  
  <tr>
    <td>III. Awards/Honors</td>
  </tr>
  
  <tr>
    <td>Academic Recognition Award</td>
    <td>9th to 12th</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Student Leadership Award</td>
    <td>11th</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Perfect Attendance</td>
    <td>2nd to 12th</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Department of the Army Certificate of Appreciation</td>
    <td>December 2006</td>
    <td></td>
  </tr>
  
  <tr>
    <td>Honor Roll</td>
    <td>9th to 12th</td>
    <td></td>
    <td></td>
  </tr>
  
  <tr>
    <td>NMSQT Letter of Commendation</td>
    <td>2009</td>
    <td>Top 3% nationwide (PSATs)</td>
  </tr>
  
  <tr>
    <td>IV. Other Activities</td>
  </tr>
  
  <tr>
    <td>Buena Borough webmaster</td>
    <td>11th to 12th</td>
    <td></td>
  </tr>
</table>

