<% content_for :title, 'Activities Résumé' %>

<style type="text/css">
  h3 { font-size: 120%; clear: both; padding: 2em 0 1em 0; }
  
  .resume { width: 100%; }
  
  .resume td:nth-child(1) { width: 40%; }
  .resume td:nth-child(2) { width: 20%; }
  .resume td:nth-child(3) { width: 40%; }
  
  .resume p { padding: 0 !important; margin: 0 1em; text-indent: -1em; }
</style>

<p>This is my Activities Résumé. It differs from my actual résumé in that it
is outdated and really only lists my high school activities.</p>

<h3>School Activities</h3>
<table class="resume">
  <tr>
    <td><p>Marching Band</p></td>
    <td>10<sup>th</sup> to 12<sup>th</sup></td>
    <td>Attendance officer (12<sup>th</sup>)</td>
  </tr>
  
  <tr>
    <td><p>Academic Team</p></td>
    <td>9<sup>th</sup> to 12<sup>th</sup></td>
    <td>Senior representative (12<sup>th</sup>)</td>
  </tr>
  
  <tr>
    <td><p>Math League</p></td>
    <td>11<sup>th</sup> to 12<sup>th</sup></td>
    <td>President (12<sup>th</sup>)</td>
  </tr>
  
  <tr>
    <td><p>Honor Society</p></td>
    <td>10<sup>th</sup> to 12<sup>th</sup></td>
    <td>Recording secretary (12<sup>th</sup>)</td>
  </tr>
  
  <tr>
    <td><p>Go Green</p></td>
    <td>12<sup>th</sup></td>
    <td></td>
  </tr>
</table>

<h3>Community Service Activities</h3>
<table class="resume">
  <tr>
    <td><p>Boy Scouts of America</p></td>
    <td>2<sup>nd</sup> to 12<sup>th</sup></td>
    <td>Patrol leader (10<sup>th</sup> to 12<sup>th</sup>)<br />Eagle Scout</td>
  </tr>
  
  <tr>
    <td><p>Order of the Arrow<br />(the Honor Society of Boy Scouting)</p></td>
    <td>9<sup>th</sup> to 12<sup>th</sup></td>
    <td></td>
  </tr>
  
  <tr>
    <td><p>Holiday Food Drive</p></td>
    <td>10<sup>th</sup> to 12<sup>th</sup></td>
    <td></td>
  </tr>
  
  <tr>
    <td><p>Run4Ricky</p></td>
    <td>10<sup>th</sup> to 12<sup>th</sup></td>
    <td></td>
  </tr>
</table>

<h3>Awards/Honors</h3>
<table class="resume">
  <tr>
    <td><p>Academic Recognition Award</p></td>
    <td>9<sup>th</sup> to 12<sup>th</sup></td>
    <td></td>
  </tr>
  
  <tr>
    <td><p>Student Leadership Award</p></td>
    <td>11<sup>th</sup></td>
    <td></td>
  </tr>
  
  <tr>
    <td><p>Perfect Attendance</p></td>
    <td>2<sup>nd</sup> to 12<sup>th</sup></td>
    <td></td>
  </tr>
  
  <tr>
    <td><p>Department of the Army Certificate of Appreciation</p></td>
    <td>December 2006</td>
    <td></td>
  </tr>
  
  <tr>
    <td><p>Honor Roll</p></td>
    <td>9<sup>th</sup> to 12<sup>th</sup></td>
    <td></td>
    <td></td>
  </tr>
  
  <tr>
    <td><p>NMSQT Letter of Commendation</p></td>
    <td>2009</td>
    <td>Top 3% nationwide (PSATs)</td>
  </tr>
</table>

<h3>Other Activities</h3>
<table class="resume">
  <tr>
    <td><p>Buena Borough webmaster</p></td>
    <td>11<sup>th</sup> to 12<sup>th</sup></td>
    <td></td>
  </tr>
</table>

