<header>
  <h2>Daniel Lamando</h2>
  <h1>Personal Statement</h1>
</header>

<p>My name is Daniel Lamando, but I normally go by <tt>danopia</tt> on the Internet. One of my favorite things (besides math) is computer programing. I attend Buena Regional High School full-time as a senior. Most of the software that I use and create is open source, and I am also a proponent of open standards and formats.</p>

<p>Beyond the realm of computing, I do a bunch of other things with my life, including:</p>
<ul>
  <li>Play tuba in the school marching/concert band</li>
  <li>Compete in Math League and Academic Team</li>
  <li>Read a bunch of books, mostly fantasy (such as Eragon) and other fiction</li>
  <li>Listen to Country music (though I like pretty much all music)</li>
</ul>

<p>For more information on me and my projects, use the links in the sidebar.</p>
