<% content_for :title, 'Personal Statement' %>

<p>My name is Daniel Lamando, but I normally go by <tt>danopia</tt> on the
Internet. One of my favorite things (besides math) is computer programing. I
attended Buena Regional High School in the class of 2011. I currently attend
Drexel University in Philly for Computer Science, class of 2016. Most of the
software that I use and create is open source, and I am also a proponent of
open standards and formats.</p>

<p>Beyond the realm of computing, I do a bunch of other things with my life, including:</p>
<ul>
  <li>Played tuba in my high school marching/concert band</li>
  <li>Competed in Math League and Academic Team</li>
  <li>Work in a car maintenance garage</li>
  <li>Read a bunch of books, mostly fantasy (such as Eragon) and other fiction</li>
  <li>Listen to a lot of different music</li>
  <li>Spend my free time in Hamburg, Germany with the guys at <a href="http://protonet.info/">protonet</a></li>
</ul>

<p>For more information on me and my projects, use the links in the sidebar.</p>
