<% content_for :title, 'Technical' %>

<p>This page is really for those nerds like me who want to know me
better by analyzing what I use. You'll probably be disappointed to see
that I'm a Ubuntu man, but whatever works, man. Either way, here you go.</p>

<h3>Hardware</h3>
<ul>
  <li>Laptop: 17" Lenovo Thinkpad E520. 4GB RAM, 320GB HDD.</li>
  <li>Phone: Motorola Droid 2 Global.</li>
</ul>

<h3>Basic software</h3>
<ul>
  <li><a href="http://www.ubuntu.com/">Ubuntu 12.04</a></li>
  <li><a href="http://awesome.naquadah.org/">awesome</a></li>
  <li>Deluge</li>
  <li>Gedit (or geany depending on my mood)</li>
  <li>Eclipse (for Android/NXJ/Apex dev)</li>
  <li>Mozilla Firefox</li>
  <li>Ruby 1.9/rails 3/sinatra</li>
  <li><a href="http://nodejs.org/">Node.JS</a></li>
  <li>zsh</li>
  <li>git</li>
  <li><a href="http://xbmc.org/">XBMC</a> media center</li>
  <li>Google Docs (or LibreOffice or LaTeX)</li>
  <li>Armagetronad, UrbanTerror, Minecraft, Frets on Fire</li>
  <li>Inkscape (or GIMP if bitmap manipulation is required)</li>
  <li>MyPaint (for my graphics tablet)</li>
  <li>Xsane</li>
</ul>

<h3>Programming languages</h3>
<ul>
  <li>Ruby - guru</li>
  <li>VB.NET - great</li>
  <li>C++ - decent</li>
  <li>C - can read/modify less complex code</li>
  <li>ooc - decent</li>
  <li>ActionScript (Flash) - beginner</li>
  <li>Java - decent</li>
  <li>JavaScript - guru (Browser and NodeJS)</li>
  <li>PHP - good, unless you want OOP</li>
</ul>
