<% content_for :title, 'Technical' %>

<p>This page is really for those nerds like me who want to know me
better by analyzing what I use. You'll probably be disappointed to see
that I'm a Ubuntu man, because Ubuntu is an ancient African word for
"couldn't configure Debian". Either way, here you go.</p>

<h3>Hardware</h3>
<ul>
  <li>Desktop: Intel Pentium 2.2GHz. 4GB RAM, multiple HDDs adding up to ~1TB. Dual 19" displays.</li>
  <li>Laptop: AMD 1.2GHz dual-core w/ AMD Vision. 4GB RAM, 320GB HDD. Acer Aspire 5517 with Tux taped to the lid.</li>
</ul>

<h3>Basic software</h3>
<ul>
  <li>Ubuntu 10.10 and 11.04</li>
  <li>Compiz-Fusion</li>
  <li>Deluge</li>
  <li>Gedit (or geany depending on my mood)</li>
  <li>Eclipse for Android dev</li>
  <li>Google Chrome</li>
  <li>Ruby1.8/irb/rails3</li>
  <li>zsh</li>
  <li>git</li>
  <li>XBMC</li>
  <li>OpenOffice.Org (or Google Docs)</li>
  <li>Armagetronad, UrbanTerror, Minecraft, Frets on Fire</li>
  <li>Inkscape (or GIMP if graphics manipulation is required)</li>
  <li>MyPaint for my tablet</li>
  <li>Xsane</li>
</ul>

<h3>Programming languages</h3>
<ul>
  <li>Ruby - guru</li>
  <li>VB.NET - great</li>
  <li>C++ - can read/modify less complex code</li>
  <li>C - can read/modify less complex code</li>
  <li>ooc - decent</li>
  <li>ActionScript (Flash) - beginner</li>
  <li>Java - learning, mostly for Android</li>
  <li>JavaScript - decent</li>
  <li>PHP - good, unless you want OOP</li>
</ul>
